# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Snakemake
.snakemake/

# Environments
.venv/
env/
conda-env/
.token

# Runtime/output directories
results/
logs/
benchmark/
tmp/

# Large genomics files
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.bcf
*.tbi
*.idx
*.fa
*.fasta
*.fai
*.dict
